// bower:scss
// endbower

@import 'reset';

/*------------------------------------*\
    COMMON STYLES
\*------------------------------------*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body, html {
  height: 100%
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background: #fafafa url(../images/bg.jpg) repeat center;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

p {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 24px;
}

.smaller {
  font-size: 14px;
}

a {
  color: #ae2167;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #ae2167;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}


/*------------------------------------*\
    PAGE-WRAP
\*------------------------------------*/

.page-wrap {
  width: 100%;
  max-width: 960px;
  min-height: 100%;

  margin: 0 auto -140px;

  text-align: center;
  background: rgba(255, 255, 255, 0.7);
}

.page-wrap:after {
  content: "";
  display: block;
  height: 140px;
}


/*------------------------------------*\
    HEADER
\*------------------------------------*/
.header {
  padding: 20px 30px 50px;
}

.contacts {
  float: right;
  text-align: right;
  font-family: "pt sans narrow";
  font-size: 22px;
}

/*------------------------------------*\
    SECTION
\*------------------------------------*/

.section {
  padding: 80px 100px;
  text-align: left;
}

.section h2 {
  margin: 70px 0 20px;
  font-size: 36px;
  line-height: 44px;
  color: #2167ae;
  border-bottom: 1px solid #2167ae;
  font-family: 'PT Sans Narrow', sans-serif;
}

.product-list-item {
  display: inline-block;
  padding: 0 20px 0 0;
}


/*------------------------------------*\
    FOOTER
\*------------------------------------*/
.footer-wrap {
  text-align: center;
  height: 140px;
}
