// bower:scss
// endbower
@import 'reset';

/*------------------------------------*\
    MIXINS
\*------------------------------------*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/*------------------------------------*\
    COMMON STYLES
\*------------------------------------*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body, html {
  height: 100%
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background: #fafafa url(../images/bg.jpg) repeat center fixed;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 24px;
}

.smaller {
  font-size: 14px;
}

a {
  color: #ae2167;
  border-bottom: .1em solid transparent;
  text-decoration: none;
}

a:hover,
a:focus {
  border-color: #ae2167;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

/*------------------------------------*\
    PAGE-WRAP
\*------------------------------------*/

.page-wrap {
  width: 100%;
  max-width: 960px;
  min-height: 100%;

  margin: 0 auto -200px;
  padding: 0 0 100px;

  text-align: center;
  background: rgba(255, 255, 255, 0.7);
}

.page-wrap:after {
  content: "";
  display: block;
  height: 200px;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/

.header {
  overflow: hidden;
  padding: 10px 100px;
  text-align: left;
  font-family: "pt sans narrow";
}

.contacts {
  float: right;
  text-align: right;
  font-size: 22px;
}

/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/

.nav {
  margin-right: 200px;

  li {
    display: inline-block;
    padding: 0 30px 10px 0;

    a {
      text-decoration: none;
      font-family: "pt sans narrow";
      font-size: 28px;
      text-align: center;
    }

    a:hover {
      border-color: transparent;
    }
  }
}

.nav a.current {
  border-bottom: .1em solid #ae2167 !important;
}

/*------------------------------------*\
    SECTION
\*------------------------------------*/

.section {
  padding: 10px 100px;
  text-align: left;
}

.section h2 {
  margin: 70px 0 20px;
  font-size: 36px;
  line-height: 44px;
  color: #2167ae;
  border-bottom: 1px solid #2167ae;
  font-family: 'PT Sans Narrow', sans-serif;
}

.product-list-item {
  display: inline-block;
  padding: 0 20px 0 0;
}

/*------------------------------------*\
    PRICE TABLE
\*------------------------------------*/

.price {
  border-collapse: collapse;
  color: #444;
  font-size: .8em;
  text-align: center;
  background: #fff;
}

.price .row {
  background-color: #e1e1e1;
}

.price tr td.first-child {
  width: 15em;
  text-align: right;
}

.price tr td.first-child strong {
  font-weight: bold;
  color: #194e83;
}

.price tr td.last-child {
  font-weight: bold;
  color: #194e83;
}

.price tr th, .price tr td {
  padding: .8em .2em;
  line-height: 1.8em;
  vertical-align: middle;
}

.price tr th {
  background-color: #1d5a99;
  color: #fff;
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/

.footer-wrap {
  text-align: center;
  height: 200px;
  padding: 0 100px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-family: "pt sans narrow";
}

.footer {
  border-top: 4px solid #2167ae;
  text-align: left;
  padding: 20px 0 20px;

  p {
    font-size: 18px;
  }

  .contacts {
    font-size: 18px;
  }

}



